@import 'sass/_colors.scss';
@import 'sass/_icons.scss';
@import 'sass/_knob.scss';
@import 'sass/_input.scss';

*{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
h1,h2,h3,h4,h5{
  font-family: 'Montserrat', sans-serif;
}
#container{
  margin: 0px auto;
  max-width: 1020px;
  padding-top: 60px;

  h1{
    font-weight: 600;
    font-size: 2.8em;
    margin-bottom: 15px;
    color: rgb(33, 45, 74);
  }
  h2{
    font-weight: 500;
    margin-top: 0px;
    font-size: 1.8em;
    color: rgb(163, 172, 189);
  }
  p{
    margin-bottom: 60px;
    font-size: 1.2em;
    margin-top: 30px;
    line-height: 1.8em;
    color: rgb(85, 94, 115);

    a{
      color: rgb(237, 62, 118);
      text-decoration: none;
      border-bottom: 1px solid #ed3e76;
      padding-bottom: 3px;
      transition: color 0.2s;

      &:hover{
        color: #f87ca3;
        border-color: #f87ca3;
        transition: color 0.2s;

      }
      &:active{
        color: #ffccdc;
        border-color: #ffccdc;
        transition: color 0.2s;

      }
    }
  }

  #input {
    padding: 0px 2px 10px;
    width: 1012px;
    background-color: rgb(114, 139, 198);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
    margin-top: 60px;

    ul#keyboard {
      list-style: none;
      margin: 0;
      position: relative;
      padding: 0;

      li {
        width: 72px;
        height: 250px;
        display: inline-block;
        border-radius: 0 0 5px 5px;
        box-shadow: 0px 5px 0px 0px rgba(1, 1, 2, 0.3), inset 0 -6px 0px 1px rgba(153, 156, 180, 0.42);
        z-index: 1;
        position: relative;
        background-color: white;
        border-top: 0;

        span {
          position: absolute;
          bottom: 25px;
          font-weight: 600;
          font-size: 0.8em;
          width: 30px;
          margin: 0px auto;
          left: 0px;
          right: 0px;
          text-align: center;
          text-transform: uppercase;
          color: #3a394e;

          &::selection{
            color: #3a394e;
            background: none;
          }
          &::-moz-selection{
            color: #3a394e;
            background: none;
          }
        }

        &:hover {
          border: 1px solid #ff0048;
          cursor: pointer;
          background-color: #f5e2e7;
          box-shadow: 0px 5px 0px 0px rgba(213, 44, 92, 0.62), inset 0 -6px 0px 1px rgba(255, 145, 195, 0.4);

          span {
            bottom: 24px;
          }
        }

        &:active {
          background: linear-gradient(#f9f9f9, #d4d4d4, #c0bcce);
          box-shadow: inset 0 -2px 3px rgba(47, 43, 83, 0.46);
          border: 1px solid #68687a;
          border-top: none;
        }

        &[data-key$="#"] {
          width: 48px;
          margin-left: -24px;
          margin-right: -24px;
          height: 150px;
          vertical-align: top;
          background: $darkest;
          z-index: 2;
          box-shadow: 0 4px 0px 0px rgb(55, 56, 77);

          span {
            color: white;
            bottom: 15px;
            &::selection{
              color: white;
            }
            &::-moz-selection{
              color: white;
            }
          }

          &:hover {
            background-color: rgb(89, 55, 71);
            box-shadow: 0px 5px 0px 0px rgb(120, 25, 52);
            span {
              bottom: 14px;
            }
          }

          &:active {
            background: linear-gradient(#161b27, #090B0F);
            box-shadow: 0 3px black, inset 0 -3px 5px #030408;
            border: 1px solid black;
          }
        }
      }
    }

    .shadow {
      position: absolute;
      z-index: 3;
      width: 100%;
      height: 7px;
      background-color: rgba(104, 15, 43, 0.11);
      display: block;
      top: 0px;
      left: 0;
    }

    #octave-ctrl{
      padding: 10px 5px 8px 15px;
      color: rgb(232, 226, 255);
      font-size: 0.7em;
      background-color: rgba(218, 233, 255, 0.18);
      border-radius: 3px;
      display: inline-block;
      margin: 7px 5px 0px;
      text-transform: uppercase;
      font-weight: 600;

      i{
        background-color: rgba(11, 11, 11, 0.14);
        border-radius: 2px;
        font-size: 1.05em;
        padding: 5px;

        &:nth-of-type(1){ margin-left: 5px; }
        &:hover{
          cursor: pointer;
          background-color: rgb(91, 105, 146);
        }
        &:active{
          background-color: #555775;
        }

        &.active{
          background: rgba(81, 81, 81, 0.11) none repeat scroll 0% 0%;
          color: #a9a7ff;

          &:hover{
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
